<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<StandardDirectory Id="ProgramFiles64Folder">
			<Directory Id="ManufacturerFolder" Name="Myriware Solutions">
				<Directory Id="INSTALLFOLDER" Name="Mylange" />
			</Directory>
		</StandardDirectory>

		<!-- Start menu shortcut location -->
		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="Mylange" />
		</StandardDirectory>
	</Fragment>
</Wix>